@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark , .dark *));

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

@layer utilities {
  .scrollbar__custom {
    scrollbar-color: #c0cbe0 rgba(43, 43, 43, 0.5); /* thumb, track */
  }

  @media screen and (min-width: 640px) {
    .scrollbar__custom::-webkit-scrollbar {
      display: none;
    }
  }
}
